.nav_bg{
  background-color: #3498db;
}
.home_bg{
  background-color: #e5c5c2;
}
.contact_bg{
  background-color: #e2a544;
}
.card_bg{
  background-color: #e2a544 !important;
}
.card_img{
  max-height: 350px;
  width: auto;
}
nav{
  font-size: xx-large;
}
.contact_padding{
  padding-top: 50px;
  padding-bottom: 250px;
}